*.out
*.o
esc
escd
.old
perl
tmp

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.cproject
*.iml

##########################
# Tests
##########################
!test/esc-qa/config/**/*
!test/esc-qa/src/**/*
# Maven
target/
# ESC
log/
out/

